section {
    display:flex;
    justify-content:space-between;
}
article {
    padding-left: 40px;
}

header {
    padding: 50px 0;
}

footer  {
    padding: 100px 0 0 45px;
    text-align:right;
}

footer p {
    color: #101010;
    padding-bottom: 40px;
    font-size: 10px;
}

img {
    max-width: 100%;
    height:auto;
}

